{
    "tagFormat": "v${version}",
    "branches": [
        "main"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@ambimax/semantic-release-composer",
        "@semantic-release/github"
    ]
}
