.k-komments-view .author-entry {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--color-black);
  text-decoration: none;
}
.k-komments-view h2 {
  font-size: var(--text-3xl);
  margin: 2em 0 1em 0;
}
.k-komments-view .center-icon {
  display: flex;
  justify-content: center;
}
.k-komments-view .center-icon svg {
  display: inline-block;
}.komment-moderation {
  border: 1px solid var(--color-border);
  border-radius: var(--rounded);
  box-shadow: var(--shadow);
  background-color: var(--color-white);
  padding: var(--spacing-8);
}
.komment-moderation .metadata {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: var(--spacing-4);
  line-height: 1.25;
}
.komment-moderation .avatar img {
  width: 60px;
  border-radius: var(--rounded);
}
.komment-moderation .author-short .k-icon {
  display: inline-block;
  margin-left: 0.5em;
}
.komment-moderation .meta {
  color: var(--color-gray-500);
  font-size: var(--text-sm);
}
.komment-moderation .actions {
  display: flex;
  justify-content: space-between;
  margin: var(--spacing-4) 0;
  padding: var(--spacing-2);
  background-color: var(--color-gray-100);
}
.komment-moderation .actions .k-button {
  margin-right: 1.75em;
}
.komment-moderation .actions .k-button:last-child {
  margin-right: 0;
}
.komment-moderation .actions .k-bar-slot[data-position=right] {
  text-align: right;
}
.komment-moderation .text {
  padding: var(--spacing-2);
}
.komment-moderation .text a {
  color: var(--color-negative);
}.k-komments-view .komments-list ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}
.k-komments-view .komments-list .komment-preview {
  line-height: 1.5;
}
.k-komments-view .komments-list .answer {
  align-self: end;
  box-shadow: var(--box-shadow-focus);
}
.k-komments-view .komments-list .meta {
  color: var(--color-gray-500);
  font-size: var(--text-sm);
  padding-bottom: var(--spacing-1);
}
.k-komments-view .komments-list .badge {
  border-radius: var(--rounded);
  background: var(--color-gray-300);
  font-size: var(--text-xs);
  padding: 0 7px;
  line-height: 1.5;
  display: inline-block;
}
.k-komments-view .komments-list .badge.green {
  background: var(--color-green);
  color: var(--color-white);
}
.k-komments-view .komments-list .badge.blue {
  background: var(--color-blue);
  color: var(--color-white);
}
.k-komments-view .komments-list .badge.red {
  background: var(--color-red);
  color: var(--color-white);
}
.k-komments-view .komments-list .status span {
  margin-right: var(--spacing-1);
}
.k-komments-view .komments-list .list-item {
  display: flex;
  gap: var(--spacing-2);
  place-items: center;
  transition: all 0.125s;
  border: 1px solid var(--color-border);
  border-radius: var(--rounded);
  cursor: pointer;
  box-shadow: var(--shadow);
  background-color: var(--color-white);
  padding: var(--spacing-2);
}
.k-komments-view .komments-list .list-item img {
  width: 60px;
  border-radius: var(--rounded);
  margin-right: var(--spacing-2);
}
.k-komments-view .komments-list .list-item.active {
  position: relative;
  box-shadow: var(--shadow-lg);
  background-color: var(--color-gray-200);
  border-color: var(--color-blue);
}
.k-komments-view .komments-list .list-item:hover, .k-komments-view .komments-list .list-item:focus {
  background-color: var(--color-gray-100);
}
.kommentsPendingCounter {
    position: relative;
    padding: 1rem;
    background: #fff;
    box-shadow: var(--box-shadow-item);
    text-align: center;
}
.kommentsPendingCounter .count {
    font-size: var(--text-5xl);
}
