#kommentform {
  display: grid;
  grid-template-columns: 100%;

  grid-template-areas:
    "quote"
    "replyHandle"
    "komment"
    "email"
    "author"
    "authorsite"
    "privacy"
    "button"
    "tweet";

  grid-column-gap: 10px;
  grid-row-gap: 10px;

  .replyHandleDisplay {
    grid-area: replyHandle;
  }

  #url {
    position: relative;
    left: -200vw;
    height: 0;
  }

  input[name="email"] {
    grid-area: email;
  }

  input[name="author"] {
    grid-area: author;
  }

  input[type="url"] {
    grid-area: authorsite;
  }

  input[type="submit"] {
    grid-area: button;
  }

  .share {
    grid-area: tweet;
    align-self: start;
  }

  textarea {
    grid-area: komment;
    width: 100%;
  }

  .visible-quote {
    grid-area: quote;
  }

  .komment-privacy {
    grid-area: privacy;
    font-size: smaller;
  }

  &.spam-indicator {
    grid-area: spamindicator;
    width: 100%;
  }

  .progress {
    transition: width 1s, background 2s, height 0.2s;
    transition-timing-function: linear;
    display: inline-block;
    width: 0%;
    height: 5px;
    background: red;
  }

  .progress.orange {
    background: orange;
  }
  .progress.yellow {
    background: yellowgreen;
  }
  .progress.green {
    background: green;
  }

  .progress.done {
    background: green;
    height: 0;
  }

  .form-feedback {
    padding: 10px;
  }

  .form-feedback.error {
    background: orange;
    color: white;
  }

  .form-feedback.moderation-note {
    background: green;
    color: white;
  }

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  .sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }

  .loading-invisible {
    display: none;
  }

  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: var(--color-card-text);
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
}

#kommentsWebmentions {
  .single-komment {
    display: grid;
    grid-template-columns: 20px 40px 1fr;

    grid-template-areas:
      "icon avatar action"
      "icon avatar content";

    grid-column-gap: 10px;
    grid-row-gap: 10px;

    line-height: 1.2;

    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .type-of {
    grid-area: icon;
    line-height: 40px;
  }

  .author-avatar {
    grid-area: avatar;
    position: relative;
  }
  .author-avatar img {
    max-width: 40px;
    border-radius: 3px;
  }

  .author-action {
    grid-area: action;
    color: grey;
    line-height: 40px;
  }
  .mention-content {
    grid-area: content;
    padding-bottom: 20px;
  }
  .komment-text {
    padding: 20;
    line-height: 1.5;
  }
}

.splitted-komments {
  .list-reposts,
  .list-mentions,
  .list-likes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 60px));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .single-komment {
    display: block;
  }

  .single-komment .author-avatar img {
    max-width: 60px;
  }

  .single-komment .author-action,
  .single-komment .type-of {
    display: none;
  }

  .list-replies {
    list-style-type: none;
    padding-left: 0;

    .single-komment .author-action,
    .single-komment .type-of {
      display: block;
    }
  }

  .kommentReply {
    display: block;
    text-align: right;
  }
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
